<div class="legend-container">
  <div class="legend-item">
      <div class="color-box" style="background-color: pink;"></div>
      <div>Clinic</div>
  </div>
  <div class="legend-item">
      <div class="color-box" style="background-color: green;"></div>
      <div>Office</div>
  </div>
  <div class="legend-item">
      <div class="color-box" style="background-color: blue;"></div>
      <div>Float</div>
  </div>
  <div class="legend-item">
      <div class="color-box" style="background-color: gray;"></div>
      <div>Ineligible</div>
  </div>
</div>

  <div  class="overlayer" [style.visibility]="visible ? 'visible' : 'hidden'" (click)="closeDialog()">
      <app-map-modal [chosenSpace]="chosenSpace" [chosenDay]="chosenDay" [visible]="visible"></app-map-modal>
  </div>
  <div class="overlayer" [style.visibility]="deskVisible ? 'visible' : 'hidden'" (click)="closeDialog()">
      <app-desk-modal [chosenSpace]="chosenSpace" [chosenDay]="chosenDay" [visible]="deskVisible"></app-desk-modal>
  </div>


<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

